
.review {
    display: inline-block;
    width: 100%;
}

.review-header {
    margin: 0px !important;
    border-radius: 0% !important;
}

.review-container {
    padding-top: 30px;
}

.stars {
    line-height: 13.5pt !important;
}

.img-rounded-new {
    border-radius: 0 0 6px 6px;
}